{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
{% include 'navbar.html.twig' %}

    <header class="mb-5">
        <h1>Mon compte</h1>
    </header>
    
    <main>
        <a href="{{ path('app_new_pwd', {id: app.user.id }) }}" title="Consulter la bibliothèque">Modification mot de passe</a>   
    </main>
    
{% endblock %}
