{% extends 'base.html.twig' %}

{% block title %}Accueil Mediatek{% endblock %}

{% block body %}
<header>
    <h1>{{ controller_name }}</h1>
</header>

<main class="mt-5">
    <a href="#" title="Consulter la bibliothèque"><img class="imgHome" src="{{ asset('asset/img/books.png') }}" alt="Image de livres"></a>
    <a href="{{ path('app_band_index') }}" title="Consulter la CDthèque"><img class="imgHome" src="{{ asset('asset/img/guitar-amplifier.png') }}" alt="Image d'un amplificateur de guitare"></a>
</main>
{% endblock %}
