<form method="post" action="{{ path('app_metal_style_delete', {'id': metal_style.id}) }}" onsubmit="return confirm('Etes-vous certain de vouloir supprimer ce style de métal ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ metal_style.id) }}">
    <button class="btnDelete" title="Supprimer"><i class="bi bi-trash3"></i></button>
</form>
