<form method="post" action="{{ path('app_band_delete', {'id': band.id}) }}" onsubmit="return confirm('Etes-vous certain de vouloir supprimer ce groupe?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ band.id) }}">
    <button class="btnDelete"><i class="bi bi-trash3"></i></button>
</form>
