{% extends 'base.html.twig' %}

{% block title %}Modification{% endblock %}

{% block body %}
{% include 'navbar.html.twig' %}
    <header>
        <h1>Modifier {{ band.name }}</h1>
        <div class="dashboard">
            <a href="{{ path('app_band_index') }}"><i class="bi bi-backspace-fill"></i></a>

            {{ include('band/_delete_form.html.twig') }}
        </div>
    </header>

    <main>
         {{ include('band/_form.html.twig', {'button_label': 'Modifier'}) }}
    </main>
    

    
{% endblock %}
