{% extends 'base.html.twig' %}

{% block title %}Ajouter un groupe{% endblock %}

{% block body %}
    <header>
        <h1>Ajouter un groupe</h1>
        <div class="dashboard">
            <a href="{{ path('app_band_index') }}"><i class="bi bi-backspace-fill"></i></a>
        </div>
    </header>

    <main>
        {{ include('band/_form.html.twig') }}
    </main>
    

{% endblock %}
