{% extends 'base.html.twig' %}

{% block title %}Ajouter un livre{% endblock %}

{% block body %}
{% include 'navbar.html.twig' %}
    <header>
        <h1>Ajouter un livre</h1>
        <div class="dashboard">
            <a href="{{ path('app_book_index') }}" title="Retour"><i class="bi bi-backspace-fill"></i></a>
            {% if app.user %}
                <a href="{{ path('app_literary_style_new') }}" class="dashboard" title="Ajouter un style littéraire"><i class="bi bi-vector-pen"></i></i></a>
            {% endif %}
        </div>
    </header>
   
   <main>
        {{ include('book/_form.html.twig') }}
   </main>
    

    
{% endblock %}
