{% extends 'base.html.twig' %}

{% block title %}Ajouter un auteur{% endblock %}

{% block body %}
{% include 'navbar.html.twig' %}
    <header>
        <h1>Ajouter un auteur</h1>
        <div class="dashboard">
            <a href="{{ path('app_writer_index') }}" title="Retour"><i class="bi bi-backspace-fill"></i></a>
            {% if app.user %}
                <a href="{{ path('app_country_new') }}" class="dashboard" title="Ajouter un pays"><i class="bi bi-globe-europe-africa"></i></i></a>
            {% endif %}
        </div>
    </header>
    
    <main>
        {{ include('writer/_form.html.twig') }}
    </main>
    
    
{% endblock %}
