body
    background-color: #3c4043
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif

h1
    color: white
    text-align: center
    margin-top: 75px
    margin-bottom: 100px

main
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.imgHome
    width: 400px
    margin-bottom: 40px
 
@media screen and (min-width:800px)
    main
        display: flex
        flex-direction: row
        justify-content: space-evenly
