body
    background-color: #3c4043
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif
    color: white
    font-size: 26px

.navbarEnd
    display: flex
    flex-direction: row-reverse

.nav-link
    color: red

.nav-link:hover,
a:hover
    color: tomato

.logDiv
    display: flex

    i
        margin: auto

#btn-log a:hover,
.bi-box-arrow-in-right:hover,
.bi-box-arrow-in-left:hover
    //background-color: #3c4043
    background-color: #828283

h1
    text-align: center
    margin-top: 50px
    color: red
    
.dashboard
    display: flex
    justify-content: space-evenly

main
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin-top: 50px

.imgHome
    width: 400px
    margin-bottom: 40px

i
    font-size: 32px

#eye,
#eye-slash
    font-size: 20px
    
.bi-backspace-fill
    color: green

.bi-pencil-square
    color: skyblue

#btn-log
    display: flex

#btn-log a
    border: none
    align-self: center
    color: red

.btnDelete
    background-color: #3c4043
    border: none
    color: red

.card
    background-color: #828283
    width: 150px

.card-title
    color: white
    
a
    text-decoration: none
    color: red

.formInForm
    padding-right: 100px

.fakeImg
    height: 100px

.fakeImgBand
    height: 200px

.card
    width: 200px

.bandImg,
.cdImg,
.writerImg,
.bookImg
    width:400px
    margin-top: 25px

.similarBands,
.similarBooks
        display: flex
        flex-direction: column
        align-items: center

.similarBandsDiv
    width: 75%

.bandImgSimilar
    width: 150px
    height: 150px
    border-radius: 50%

header form
    display: flex
    justify-content: center
    margin: 20px

input
    border-radius: 30px
    padding-left: 16px

#go
    background-color: #3c4043
    border-radius: 50%
    border: none
    color: white
    margin-left: 10px
    font-size: 20px

.bi-search
    color: red

.container-search
    display: flex
    flex-direction: column
    margin-left: 20px

.searchImg
    width: 200px

.searchHr
    width: 25%

.pwdLinkUpdate
    color: white

.bi-hand-thumbs-up-fill
    color: red
    margin: 2rem

.validatedPwdMessage
    font-size: 32px
    text-align: center

.containerBand,
.containerAlbum,
.containerBook,
.containerWriter
    display: flex
    flex-wrap: wrap

    .cardBand,
    .cardAlbum,
    .cardBook,
    .cardWriter
        margin-bottom: 10px

/* Button back to top */
#scroll-top-btn
    position: fixed
    bottom: 10px
    right: 10px
    background-color: red


@media screen and (min-width:800px)
    body
        font-size: 16px
    
    main
        display: flex
        flex-direction: row
        justify-content: space-evenly

    #bandPage,
    #bookPage
        flex-direction: column

    #bandInfos,
    #bookInfos
        display: flex
        flex-direction: row
        justify-content: space-around

    .similarBands,
    .similarBooks
        display: inline-block
        text-align: center

    .formDiv
        display: flex
        flex-direction: row

    navbar
        display: flex
        flex-direction: column

    .accountContainer
        display: flex
        justify-content: flex-start

    .containerValidatedPwd
        display: flex
        flex-direction: column