<form method="post" action="{{ path('app_album_delete', {'id': album.id}) }}" onsubmit="return confirm('Etes-vous certain de vouloir supprimer cet album?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ album.id) }}">
    <button class="btnDelete"><i class="bi bi-trash3"></i></button>
</form>
