{% extends 'base.html.twig' %}

{% block title %}Modifier un album{% endblock %}

{% block body %}
{% include 'navbar.html.twig' %}
    <header>
        <h1>Modifier {{ album.title|title }}</h1>
        <div class="dashboard">
            <a href="{{ path('app_album_index') }}" title="Retour"><i class="bi bi-backspace-fill"></i></a>
            
            {{ include('album/_delete_form.html.twig') }}
        </div>
    </header>
    
    <main>
        {{ include('album/_form.html.twig', {'button_label': 'Modifier'}) }}
    </main>
    

    
{% endblock %}
