{% extends 'base.html.twig' %}

{% block title %}Nouveau Mot de passe{% endblock %}

{% block body %}

<header>
    <h1 class="text-center m-5">Nouveau mot de passe valide</h1>
    <div class="dashboard">
        <a href="{{ path('app_home') }}" class="btn btn-outline-success mt-2">Accueil</a>
    </div>
</header>

<main class="containerValidatedPwd">
    <i class="bi bi-hand-thumbs-up-fill"></i>
    <p class="validatedPwdMessage">Le mot de passe a bien été modifié.</p>
</main>
{% endblock %}
