<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Medaitek{% endblock %}</title>
        <link rel="icon"type="image/png" href="{{ asset('asset/img/icons-media.png') }}">
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('asset/style/style.css') }}">
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
