{% extends 'base.html.twig' %}

{% block title %}Style littéraire{% endblock %}

{% block body %}
{% include 'navbar.html.twig' %}
    <header>
        <h1>Les styles littéraires</h1>
        {% if app.user %}
            <a href="{{ path('app_literary_style_new') }}" class="dashboard" title="Ajouter un style littéraire"><i class="bi bi-plus-circle"></i></a>
        {% endif %}
    </header>

    <main class="container">
        <ol>
            {% for style in literary_styles %}
                <li>{{ style.name }}</li>
            {% else %}
                <p>Aucun style trouvé...</p>
            {% endfor %}
        </ol>
            {# 
                <a href="{{ path('app_literary_style_show', {'id': literary_style.id}) }}">show</a>
                <a href="{{ path('app_literary_style_edit', {'id': literary_style.id}) }}">edit</a>
            #}
    </main>
{% include 'footer.html.twig' %}

{% endblock %}
