{% extends 'base.html.twig' %}

{% block title %}Ajouter un style littéraire{% endblock %}

{% block body %}
{% include 'navbar.html.twig' %}
    <header>
        <h1>Ajouter un style littéraire</h1>
        <div class="dashboard">
            <a href="{{ path('app_literary_style_index') }}"><i class="bi bi-backspace-fill"></i></a>
        </div>
    </header>

    <main>
        {{ include('literary_style/_form.html.twig') }}
    </main>

{% endblock %}
